body{
    width: 100%;
    height: 100vh;
   
    justify-content: center;
    align-items: center;
    background: #30d1fe59;
    flex-direction: column; /*deixa header e footer alinhados*/
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


main {
    flex: 1; /* O main ocupa o espaço disponível */
   
}


footer {
    padding: 10px;
    text-align: center;
    width: 100%;
    
}
.container {
    width: 80%;
    height: 85vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    background-color: white; /* Mantém o background branco */
   
    border-radius: 15px; /* Bordas arredondadas de 15px */
    padding: 0.4rem; /* Espaçamento interno */
    margin-left: 150px;
}

.form-header {
    margin-top: -20px; /* Espaço abaixo do título */
    text-align: center; /* Centraliza o texto do título */
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    width: 100%; /* Ocupa toda a largura do container */
    margin: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%; /* Garante que cada input-box ocupe toda a largura */
    padding: 30px;
}

.continue-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 3rem;
}

.continue-button button {
    border: none;
    background-color: #30D0FE;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #1F2B5B;
}

.continue-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.input-box input {
    
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #4e4c4c1c;
    font-size: 0.8rem;
    width: 100%;
    background-color: #c7c7c77e;
    
}

.input-box input:hover {
    background-color: #42404075;
}
.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}


