{% extends 'base.html' %}
{% block content %}
<div class="container"></div>
<h1>Pacientes Cadastrados:</h1>
    <table class=" table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Número de celular</th>
            <th>Número de prontuario</th>
            <th>Tipo de cirurgia</th>
            <th>Status</th>
        </tr>
        {% for paciente in pacientes %}
        <tr>
            <td>{{paciente.id_paciente}}</td>
            <td>{{paciente.nome}}</td>
            <td>{{paciente.idade}}</td>
            <td>{{paciente.numero_celular}}</td>
            <td>{{paciente.numero_prontuario}}</td>
            <td>{{paciente.tipo_cirurgia}}</td>
            <td>{{paciente.status}}</td>
            <td>
                <a href="{% url 'delete_paciente' paciente.id_paciente %}">Excluir</a>
            </td>
            <td> <a href="{% url 'update_paciente' paciente.id_paciente %}">Editar</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}