{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/base.css' %}?v=1.0">

<form action="{% url 'listagem_pacientes' %}" method="post">
  {% csrf_token %}
  <div class="container">
  
    <div class="form">
      <div class="form-header">
        <div class="title">
            <h1>Cadastro de Pacientes</h1>
        </div>
      </div>
      <div class="input-group">
      <div class="input-box">
        <label for="nome">Nome</label> 
    <input name="nome" class="form-control-sm" type="text">
      </div>
      <div class="input-box">
        <label for =idade>Idade</label>
     <input name="idade" class="form-control-sm" type="text">
      </div>
      <div class="input-box">
        <label for="numero_celular">Número de Celular</label>  
      <input name="numero_celular" class="form-control-sm" type="text">
      </div>
      <div class="input-box">
        <label for="numero_prontuario">Número de Prontuário</label>
    <input name="numero_prontuario" class="form-control-sm" type="text">
      </div>
      <div class="input-box">
        <label for="tipo_cirurgia">Tipo de Cirurgia</label>
    <input name="tipo_cirurgia" class="form-control-sm" type="text">
      </div>
      <div class="input-box">
        <label for="status">Status</label>
     <input name="status" class="form-control-sm" type="text">
      </div>
    </div>
    <div class="continue-button">
    <button class="form-control-sm" ><a>Adicionar Paciente</a></button>
  </div>
  </div>
  </div> 
  </form>
  <button class="form-control-sm">Enviar</button>
</form>
{% endblock %}