<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUIDA - HOME</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
    <header>
        <nav class="navbar">
            <h1>HOME</h1>
            <img src="{% static 'image\IMG_0211C.PNG' %}" class="logo">
        </nav>
    </header>

    <main>
        <section class="main_body">
            <a href="{% url 'form' %}"><button class="homebutton">Cadastrar Pacientes</button></a>
            <a href="{% url 'listagem_pacientes' %}"><button class="homebutton">Visualizar Pacientes</button></a>
            <a href="{% url 'listagem_pacientes' %}"><button class="homebutton">Editar Pacientes</button></a>
        </section>
    </main>
</body>

</html>
