<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADICIONAR HISTÓRICO DE CONSULTA</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/adicionar_historico.css' %}">
</head>

<body>

  <header>
    <nav class="navbar">
      <a href="{% url 'detalhes_paciente' paciente.id %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-left">
          <circle cx="12" cy="12" r="10"/>
          <path d="M16 12H8"/>
          <path d="m12 8-4 4 4 4"/>
        </svg>
      </a>
      <h1>Adicionar Histórico de Consulta</h1>
      <img src="{% static 'image/IMG_0211C.PNG' %}" class="logo">
    </nav>
  </header>

  <main>

    <form action="{% url 'adicionar_historico' paciente.id %}" method="post">
      {% csrf_token %}

      <!-- Campo para Sintomas -->
      <div class="form-group">
        <label for="sintomas">Sintomas Reportados</label>
        <textarea id="sintomas" name="sintomas" class="form-control" required></textarea>
      </div>

      <!-- Campo para Diagnóstico -->
      <div class="form-group">
        <label for="diagnostico">Diagnóstico</label>
        <textarea id="diagnostico" name="diagnostico" class="form-control" required></textarea>
      </div>

      <!-- Campo para Tratamento Prescrito -->
      <div class="form-group">
        <label for="tratamento">Tratamento Prescrito</label>
        <textarea id="tratamento" name="tratamento" class="form-control" required></textarea>
      </div>

      <!-- Campo para Observações -->
      <div class="form-group">
        <label for="observacoes">Observações</label>
        <textarea id="observacoes" name="observacoes" class="form-control"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Salvar Histórico</button>
    </form>

  </main>

  {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
  {% endif %}

</body>

</html>
