<form action="{% url 'cadastrar_consulta' %}" method="post">
    {% csrf_token %}
  
    <!-- Campo para Selecionar Paciente -->
    <div class="form-group">
      <label for="paciente">Paciente</label>
      <select id="paciente" name="paciente" class="form-control">
        <option value="">Selecione um paciente</option>
        {% for paciente in pacientes %}
          <option value="{{ paciente.id_paciente }}">{{ paciente.nome }}</option>
        {% endfor %}
      </select>
    </div>
  
    <!-- Campo para Selecionar Médico -->
    <div class="form-group">
        <label for="medico">Médico</label>
        <select id="medico" name="medico" class="form-control">
          <option value="">Selecione um médico</option>
          {% for medico in medicos %}
            <option value="{{ medico.id }}">{{ medico.nome }}</option>
          {% endfor %}
        </select>
      </div>
  
    <!-- Campo para Data da Consulta -->
    <div class="form-group">
      <label for="data_consulta">Data da Consulta</label>
      <input type="date" id="data_consulta" name="data_consulta" class="form-control">
    </div>
  
    <!-- Campo para Selecionar Horário -->
    <div class="form-group">
      <label for="horario">Horário</label>
      <select id="horario" name="horario" class="form-control">
        <option value="">Selecione um horário</option>
        {% for horario in horarios %}
          <option value="{{ horario }}">{{ horario }}</option>
        {% endfor %}
      </select>
    </div>
  
    <button type="submit" class="btn btn-primary">Cadastrar Consulta</button>


    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<style>
  .alert {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    width: 16rem;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.alert-success {
    background-color: #d4edda; /* Cor de fundo verde claro */
    color: #155724; /* Cor do texto verde escuro */
    border: 1px solid #c3e6cb; /* Borda verde */
}

.alert-error {
    background-color: #f8d7da; /* Cor de fundo vermelho claro */
    color: #721c24; /* Cor do texto vermelho escuro */
    border: 1px solid #f5c6cb; /* Borda vermelha */
}

</style>

  </form>
  