<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Especialidade</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>

<body>

  <header>
    <nav class="navbar">
      <a href="{% url 'visualizar_especialidades' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-left"><circle cx="12" cy="12" r="10"/><path d="M16 12H8"/><path d="m12 8-4 4 4 4"/></svg>
      </a>
      <h1>Cadastro de Especialidade</h1>
    </nav>
  </header>

  <main>
    <form action="{% url 'cadastrar_especialidade' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="nome">Nome da Especialidade</label>
        <input type="text" id="nome" name="nome" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </main>

</body>

</html>
