<!DOCTYPE html>
<html>
<head>
    <title>Calendário</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
        .calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 10px;
        }
        .day {
            border: 1px solid #ddd;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Calendário</h1>
    <div class="calendar">
        {% for day in days %}
            <div class="day">{{ day }}</div>
        {% endfor %}
    </div>
</body>
</html>
