<table>
  <tr>
      <th>ID</th>
      <th>Paciente</th>
      <th>Médico</th>
      <th>Data</th>
      <th>Horário</th>
      <th>Ações</th> <!-- Nova coluna para ações -->
  </tr>
  {% for consulta in consultas %}
  <tr>
      <td>{{ consulta.id }}</td>
      <td>{{ consulta.paciente.nome }}</td>
      <td>{{ consulta.medico.nome }}</td>
      <td>{{ consulta.data_consulta }}</td>
      <td>{{ consulta.horario }}</td>
      <td>
          <form action="{% url 'excluir_consulta' consulta.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Excluir</button>
          </form>
      </td>
  </tr>
  {% empty %}
  <tr>
      <td colspan="6">Nenhuma consulta cadastrada.</td>
  </tr>
  {% endfor %}
</table>
