<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CUIDA - LISTA DE ESPECIALIDADES</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/paciente.css' %}?v=1.0">
</head>

<body>
    <main class="container">
        <section class="header">
            <a href="{% url 'home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-left"><circle cx="12" cy="12" r="10"/><path d="M16 12H8"/><path d="m12 8-4 4 4 4"/></svg>
            </a>
            <h1>Lista de Especialidades:</h1>
            <img src="{% static 'image/IMG_0211C.PNG' %}" class="logo" alt="Logo">
        </section>

        <section class="listagem">
            <div class="especialidades">
                {% for especialidade in especialidades %}
                <div class="especialidade-card">{{ especialidade.nome }}</div>
                {% empty %}
                <div class="especialidade-card">Nenhuma especialidade cadastrada.</div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>

</html>
