<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Médicos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/lista_consultas.css' %}"> <!-- Reutilizando o CSS de consultas -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>

<body>
    <main class="container">
        <section class="header">
            <a href="{% url 'home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-left">
                    <circle cx="12" cy="12" r="10" />
                    <path d="M16 12H8" />
                    <path d="m12 8-4 4 4 4" />
                </svg>
            </a>
            <h1>Lista de Médicos</h1>
            <div class="input-group">
                <input type="search" id="searchInput" placeholder="Busque aqui...">
            </div>
            <img src="{% static 'image/IMG_0211C.PNG' %}" class="logo">
        </section>

        <section class="table-section">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Especialidade</th>
                        <th>CRM</th>
                        <th>Número de Celular</th>
                        <th>Ações</th> <!-- Adiciona uma coluna para ações -->
                    </tr>
                </thead>
                <tbody id="medicoTableBody">
                    {% for medico in medicos %}
                    <tr>
                        <td class="nome-medico">{{ medico.nome }}</td>
                        <td>{{ medico.especialidade.nome }}</td>
                        <td>{{ medico.crm }}</td>
                        <td>{{ medico.numero_celular }}</td>
                        <td>
                            <form action="{% url 'excluir_medico' medico.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn-excluir"><i class="fas fa-trash"></i> Excluir</button>
                            </form>
                        </td> <!-- Botão de excluir -->
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Nenhum médico cadastrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const searchInput = document.getElementById("searchInput");
            const tableRows = document.querySelectorAll("tbody tr");

            // Função para filtrar as linhas da tabela pelo nome do médico
            searchInput.addEventListener("input", function () {
                const searchText = searchInput.value.toLowerCase();

                tableRows.forEach(function (row) {
                    const nomeMedico = row.querySelectorAll("td")[0].textContent.toLowerCase(); // Nome do médico na 1ª coluna

                    // Verificar se o nome do médico contém o texto de busca
                    if (nomeMedico.includes(searchText)) {
                        row.style.display = ""; // Exibe a linha
                    } else {
                        row.style.display = "none"; // Oculta a linha
                    }
                });
            });
        });
    </script>
</body>

</html>
