<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CUIDA</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/paciente.css' %}?v=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>

<body>
    <main class="table">
        <section class="table_header">
            <a href="{% url 'home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-left"><circle cx="12" cy="12" r="10"/><path d="M16 12H8"/><path d="m12 8-4 4 4 4"/></svg>
            </a>
            <h1>Pacientes Cadastrados:</h1>
            <div class="input-group">
                <input type="search" id="searchInput" placeholder="Busque aqui...">
            </div>
            <img src="{% static 'image\IMG_0211C.PNG' %}" class="logo">
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Idade</th>
                        <th>Número de celular</th>
                        <th>Número de prontuario</th>
                        <th>Tipo de cirurgia</th>
                        <th>Status</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    
                {% for paciente in pacientes %}
            <tr>
                <td>{{paciente.id_paciente}}</td>
                <td><strong>{{paciente.nome}}</strong></td>
                <td>{{paciente.idade}}</td>
                <td>{{paciente.numero_celular}}</td>
                <td>{{paciente.numero_prontuario}}</td>
                <td>{{paciente.tipo_cirurgia}}</td>
                <td>{{paciente.status}}</td>
                
                <td> <a href="{% url 'update_paciente' paciente.id_paciente %}" class="edit-link" >Editar</a></td>
               </td> 
            </tr>
                {% endfor %}
                    
                </tbody>
            </table>
        </section>
    </main>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("searchInput");
        const tableRows = document.querySelectorAll("tbody tr");

        // Função para filtrar a tabela
        searchInput.addEventListener("input", function () {
            const searchText = searchInput.value.toLowerCase();

            tableRows.forEach(function (row) {
                const rowData = row.textContent.toLowerCase();
                if (rowData.includes(searchText)) {
                    row.style.display = ""; // Exibe a linha
                } else {
                    row.style.display = "none"; // Oculta a linha
                }
            });
        });

        // Código para aplicar as classes de status no carregamento da página
        tableRows.forEach(function (row) {
            const statusElement = row.querySelectorAll("td")[6]; // Seleciona a 7ª coluna (índice 6)
            const status = statusElement.textContent.trim().toLowerCase();

            if (status === "atendido") {
                statusElement.classList.add("status-atendido");
            } else if (status === "não atendido") {
                statusElement.classList.add("status-nao-atendido");
            }
        });
    });
</script>


</html>



