<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CUIDA - VISUALIZAR PACIENTES</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/paciente.css' %}?v=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>

<body>
    <main class="container">
        <section class="header">
            <a href="{% url 'home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-left"><circle cx="12" cy="12" r="10"/><path d="M16 12H8"/><path d="m12 8-4 4 4 4"/></svg>
            </a>
            <h1>Pacientes Cadastrados:</h1>
            <div class="input-group">
                <input type="search" id="searchInput" placeholder="Busque aqui...">
            </div>
            <a href="{% url 'form' %}">
                <svg xmlns="c:\Users\maria\Downloads\edit.svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-arrow-left"><circle cx="12" cy="12" r="10"/><path d="M16 12H8"/><path d="m12 8-4 4 4 4"/></svg>
            </a>
            <img src="{% static 'image/IMG_0211C.PNG' %}" class="logo">
        </section>

        <section class="cards">
            {% for paciente in pacientes %}
            <div class="card">
                <h3><a href="{% url 'update_paciente' paciente.id_paciente %}">{{ paciente.nome }}</a></h3>
                <p><strong>CPF</strong> {{paciente.cpf}}</p>
                <p><strong>Prontuário</strong> {{paciente.numero_prontuario}}</p>
                <p class="status {{paciente.status|lower|slugify}}">{{paciente.status}}</p>
            </div>
            {% endfor %}
        </section>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const searchInput = document.getElementById("searchInput");
            const cards = document.querySelectorAll(".card");

            // Função para filtrar os cartões
            searchInput.addEventListener("input", function () {
                const searchText = searchInput.value.toLowerCase();

                cards.forEach(function (card) {
                    const cardData = card.textContent.toLowerCase();
                    if (cardData.includes(searchText)) {
                        card.style.display = ""; // Exibe o cartão
                    } else {
                        card.style.display = "none"; // Oculta o cartão
                    }
                });
            });

            // Código para aplicar as classes de status no carregamento da página
            cards.forEach(function (card) {
                const statusElement = card.querySelector('.status');
                const status = statusElement.textContent.trim().toLowerCase();

                if (status === "atendido") {
                    statusElement.classList.add("status-atendido");
                } else if (status === "não atendido") {
                    statusElement.classList.add("status-nao-atendido");
                }
            });
        });
    </script>
</body>

</html>
