/* Estilos globais */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Garante que o conteúdo ocupe todo o espaço disponível e o footer fique no final */
body {
    min-height: 100vh;
}

main {
    flex: 1; /* Faz o main ocupar o espaço restante */
}

/* Estilos para o header */
.navbar {
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #1f2b5b, #30a8ff);
    padding: 10px;
    color: white;
}

.navbar h1 {
    font-family: "Poppins", sans-serif;
    color: #fff;
    padding: 0 25px;
    margin: 0;
}

/* Estilos para o footer */
.basefooter {
    background: linear-gradient(to left, #1f2b5b, #30a8ff);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto; /* Empurra o footer para o final da página */
}

footer p {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar h1 {
        font-size: 18px;
    }
}
