* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #cbe6f1a2, #30d1fec5);
    overflow: hidden; /* Evita rolagem da página */
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 90vh; /* Altura fixa para o container principal */
    background-color: #ffffffaf;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Para evitar que o container seja redimensionado */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    color: #1f2b5b;
    font-size: 30px;
}

.header img.logo {
    width: 110px;
}

.header .input-group {
    width: 40%;
    display: flex;
    align-items: center;
    background-color: #ccd4f065;
    border-radius: 30px;
    padding: 10px;
}

.header .input-group input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    padding: 10px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    overflow-y: auto; /* Permite rolagem dentro do container */
    padding-right: 10px;
}

.card {
    background-color: #ffffffb9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
    text-align: center;
}

.card h3 a {
    text-decoration: none !important; /* Remove a linha do link */
    color: #1f2b5b;  /* Define a cor inicial do nome */
    transition: color 0.3s ease;  /* Suaviza a transição de cor */
}

/* Ao passar o mouse sobre o nome do paciente */
.card h3 a:hover {
    color: #056e8b;  /* Muda a cor ao passar o mouse */
}


.card p {
    margin-bottom: 10px;
    font-size: 16px;
}

.card .status {
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 12px;
    display: inline-block;
}

.card .status-atendido {
    background-color: rgba(90, 209, 90, 0.555);
    color: green;
}

.card .status-nao-atendido {
    background-color: rgba(230, 233, 85, 0.555);
    color: rgb(175, 136, 7);
}

.card:hover {
    transform: scale(1.05);
}

/* Alterna a cor de fundo para os cartões */
.card:nth-child(even) {
    background-color: #cbe6f134;
}

/* Customização da barra de rolagem */
.cards::-webkit-scrollbar {
    width: 8px;
}

.cards::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.cards::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
